<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-6 mb-4">
        <!-- Nav tabs -->
        <tabset>
          <tab heading="Basics">
            <ul>
              <li>
                <a href="https://www1.nseindia.com/education/content/module_ncfm.htm" target="_blank">NSE India</a>
              </li>
              <li>
                <a href="https://zerodha.com/varsity/" target="_blank">Zerodha Varsity</a>
              </li>
            </ul>
          </tab>
        </tabset>
      </div><!--/.col-->
      <div class="col-md-6 mb-4">
        <!-- Nav tabs -->
        <tabset>
          <tab heading="Blogs">
            <ul>
              <li>
                <a href="https://1stopinvestment.com" target="_blank">Jeysivaa's One Stop Investment</a>
              </li>
              <li>
                <a href="https://vaaniga.com/category/investment/" target="_blank">Vaaniga - Investment</a>
              </li>
              <li>
                <a href="https://stableinvestor.com" target="_blank">Stable Investor</a>
              </li>
            </ul>
          </tab>
        </tabset>
      </div><!--/.col-->
    </div><!--/.row-->
    <div class="row">
      <div class="col-md-6 mb-4">
        <!-- Nav tabs -->
        <tabset>
          <tab heading="Books">
            <div>
              <a target="_blank"  href="https://www.amazon.in/gp/product/B000YIWF4C/ref=as_li_tl?ie=UTF8&camp=3638&creative=24630&creativeASIN=B000YIWF4C&linkCode=as2&tag=vaaniga-21&linkId=09533785a6c39faade718c8a61017645"><img border="0" src="//ws-in.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=IN&ASIN=B000YIWF4C&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=vaaniga-21" ></a><img src="//ir-in.amazon-adsystem.com/e/ir?t=vaaniga-21&l=am2&o=31&a=B000YIWF4C" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            </div>
          </tab>
        </tabset>
      </div><!--/.col-->
      <div class="col-md-6 mb-4">
        <!-- Nav tabs -->
        <tabset>
          <tab heading="Tools">
            <ul>
              <li>
                <a target="_blank" href="https://www.screener.in/">Screener</a>
              </li>
              <li>
                <a target="_blank" href="https://www.tickertape.in/">Ticker Tape</a>
              </li>
              <li>
                <a target="_blank" href="https://moneycontrol.com">Money Control</a>
              </li>
              <li>
                <a target="_blank" href="https://trendlyne.com/">Trendlyne</a>
              </li>
              <li>
                <a target="_blank" href="https://www.investing.com/">Investing</a>
              </li>
              <li>
                <a target="_blank" href="https://stockedge.com/">Stock Edge</a>
              </li>
              <li>
                <a target="_blank" href="https://www.valueresearchonline.com/">Value Research Online</a>
              </li>
              <li>
                <a target="_blank" href="https://www.morningstar.com/">Morning Star</a>
              </li>
              <li>
                <a target="_blank" href="https://in.tradingview.com/">Trading View</a>
              </li>
            </ul>
          </tab>
        </tabset>
      </div><!--/.col-->
    </div><!--/.row-->
  </div>
  