<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="card card-accent-primary">
            <div class="card-header">
                <i class="fa fa-star-half"></i>Silver [Social Media Experts]
              </div>
          <div class="card-body">
            <ul>
                <li>Download App from Google Playstore</li>
                <li>Share in Social Media</li>
            </ul>
          </div>
          <div class="card-footer">
              <h6>Benefits</h6>
            <ul>
                <li>10 points per like</li>
                <li>20 points per share</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="card card-accent-warning">
          <div class="card-header">
            <i class="fa fa-star-o"></i>Gold [Suitable for everyone]
          </div>
          <div class="card-body">
            <ul>
                <li>Share keywords and brand names</li>
            </ul>
          </div>
          <div class="card-footer">
            <h6>Benefits</h6>
            <ul>
                <li>10 points per keyword and company name</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="card card-accent-success">
          <div class="card-header">
            <i class="fa fa-star"></i>Platinum [Technical Experts]
          </div>
          <div class="card-body">
            <ul>
                <li>Contribute to the platform growth as a technical expert</li>
            </ul>
          </div>
          <div class="card-footer">
            <h6>Benefits</h6>
            <ul>
                <li>Get Paid for Hourly work</li>
                <li>Get additional 20 points for every completion</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>